<div id="categories" class="col-sm-8 offset-sm-2" [@categories]="categories.length">
  <h2>Categories ({{ categoriesCount }})</h2>

  <div *ngFor="let category of categories; let i = index">
    <div class="col-sm-2 category">
      <span class="title">{{ category.title }}</span>
      <ul class="tasks">
        <li *ngFor="let task of category.tasks; let j = index">
          <a href="*" class="task"><p>{{ task.title }}</p></a>
        </li>
        <a class="new-task" *ngIf="(!category.showNewTask)" (click)="triggerAddNewTask(category.id)">Add a new task...</a>
        <div *ngIf="(category.showNewTask)">
          <form [formGroup]="form">
            <fieldset>
              <div class="form-group">
                <input type="text" class="form-control" id="inlineFormInput" placeholder="New task name" name="task_name" formControlName="task_name">
              </div>
            </fieldset>
            <div class="form-buttons">
              <button class="btn btn-primary" (click)="addNewTask(category.id, value)">Add new task</button>
            </div>
          </form>
        </div>
      </ul>
    </div>
  </div>
</div>